---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import HeroSection from '../components/home/HeroSection.astro'
import ServicesSection from '../components/home/ServicesSection.astro'
---

<Layout>
  <Navigation />

  <main class="min-h-screen overflow-hidden pt-20">
    <HeroSection />

    <ServicesSection />
  </main>
</Layout>
