---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'
import HeroSection from '../components/home/HeroSection.astro'
import ServicesSection from '../components/home/ServicesSection.astro'
import MeSection from '../components/home/MeSection.astro'
import GallerySection from '../components/home/GallerySection.astro'
import FAQSection from '../components/home/FAQSection.astro'
---

<Layout>
  <Navigation />

  <main class="min-h-screen overflow-hidden pt-20">
    <HeroSection />

    <MeSection />

    <ServicesSection />

    <GallerySection />

    <FAQSection />
  </main>
</Layout>
