<!-- Punk Background Elements -->
<div class="absolute inset-0 -z-1 opacity-15">
  <div class="border-tertiary absolute top-10 left-10 h-32 w-32 rotate-45 border-4"></div>
  <div class="border-secondary absolute top-40 right-20 h-24 w-24 rotate-12 border-4"></div>
  <div class="border-primary absolute bottom-20 left-1/4 h-16 w-16 -rotate-12 border-4"></div>

  <!-- Triangles -->
  <div
    class="border-b-tertiary absolute top-32 right-1/3 h-0 w-0 rotate-12 border-r-[20px] border-b-[35px] border-l-[20px] border-r-transparent border-l-transparent"
  >
  </div>
  <div
    class="border-b-secondary absolute right-10 bottom-32 h-0 w-0 -rotate-45 border-r-[15px] border-b-[26px] border-l-[15px] border-r-transparent border-l-transparent"
  >
  </div>
  <div
    class="border-b-primary absolute top-1/2 left-20 h-0 w-0 rotate-90 border-r-[18px] border-b-[31px] border-l-[18px] border-r-transparent border-l-transparent"
  >
  </div>

  <!-- More geometric shapes -->
  <div
    class="border-secondary absolute bottom-10 left-1/3 h-20 w-20 rotate-45 rounded-full border-4"
  >
  </div>
  <div class="border-tertiary absolute top-20 left-1/3 h-12 w-12 rotate-12 transform border-4">
  </div>
  <div class="border-primary absolute right-1/3 bottom-40 h-14 w-14 -rotate-30 border-4"></div>
</div>
